* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */

.header {
  display: flex;
  background: #ffe5ec;
  justify-content: space-around;
}

.brand {
  display: flex;
  width: 20%;
}
.brand-logo {
  width: 80px;
}
.brand-text {
  margin: auto 0;
  font-size: 20px;
}

.nav-items-div {
  display: flex;
  width: 70%;
  justify-content: center;
}
.nav-items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: auto 0;
  list-style-type: none;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.cart-div {
  display: flex;
  justify-content: right;
  padding-right: 30px;
  width: 10%;
}
.cart {
  border-radius: 10px;
  padding: 5px;
  margin: auto 0;
  width: 45px;
  height: 45px;
}

/* BODY */

/* FOOTER */
